<footer class="footer">
  <a href="https://www.hazelcast.org" class="icon">
    <img src="{{{uiRootPath}}}/img/hazelcast.png" alt="Hazelcast">
  </a>
  <a href="https://slack.hazelcast.com" class="slack-button">Join Us On Slack</a>
</footer>
