*.log
*.aux
*.toc
*.pdf
.DS_Store
target/
.project
.classpath
.factorypath
.settings/
**/.springBeans
.idea/
.patch
*.iml
mydatabase*
bin/
hibernateDB
springHibernateDB
osgi/felix-cache/
.java-version
*.code-workspace
