<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="com.hazelcast">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="hazelcast-${hazelcast.version}.jar"/>
        <resource-root path="hazelcast-jca-${hazelcast.version}.jar"/>
    </resources>

    <dependencies>
        <module name="sun.jdk"/>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.apache.log4j"/>
    </dependencies>
</module>
