<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="applicationContext-hazelcast.xml"/>
    <import resource="dataContext.xml"/>

    <!-- Configuration for Component Scan -->
    <context:component-scan base-package="com.hazelcast.springHibernate"/>

    <!-- Beans Declaration -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>hazelcast-config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="distributedMapService" class="com.hazelcast.springHibernate.DistributedMapService">
        <constructor-arg ref="customerMap"/>
    </bean>

    <bean id="distributedMapDemonstrator" class="com.hazelcast.springHibernate.DistributedMapDemonstrator">
        <property name="distributedMapService" ref="distributedMapService"/>
    </bean>

    <bean id="customerDAO" class="com.hazelcast.springHibernate.CustomerDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="applicationContextUtil" class="com.hazelcast.springHibernate.ApplicationContextUtil"/>
</beans>
