<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Page Not Found'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body-404}}
  </body>
</html>
