<nav class="breadcrumbs" aria-label="breadcrumbs">
  {{#if page.breadcrumbs}}
  <ul>
    {{#with page.componentVersion}}
    {{#if (and ./title (not (or ./root (eq ./title @root.page.breadcrumbs.0.content))))}}
    <li>{{{./title}}}</li>
    {{/if}}
    {{/with}}
    {{#each page.breadcrumbs}}
    <li>
    {{{./content}}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</nav>
