<article class="guide-content">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
<p class="edit-page"><a href={{page.editUrl}}>See something wrong? Edit this page.</a></p>
{{{page.contents}}}
</article>
