<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_minimal_puts">true</property>
		<property name="hibernate.cache.region.factory_class">com.hazelcast.hibernate.HazelcastCacheRegionFactory</property>
    	<property name="hibernate.cache.hazelcast.use_native_client">false</property>
    	<property name="hibernate.cache.hazelcast.native_client_hosts">127.0.0.1</property>
    	<property name="hibernate.cache.hazelcast.native_client_group">hibernate</property>
    	<property name="hibernate.cache.hazelcast.native_client_password">password</property>
    	<property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="hibernate.connection.url">jdbc:derby:hibernateDB</property>
 		<mapping resource="Employee.hbm.xml"/>
	</session-factory>
</hibernate-configuration>