<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="NORMAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %thread %logger{40} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="HIGHLIGHT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %thread %white(%logger{40}) - %cyan(%msg) %n</pattern>
        </encoder>
    </appender>

	<!-- A selection of Hazelcast system messages -->
    <logger name="com.hazelcast" level="error"/>
    <logger name="com.hazelcast.internal.cluster" level="info"/>
    <logger name="com.hazelcast.nio" level="info"/>
    
    <!-- Code for the sample -->
    <logger name="com.hazelcast.samples" level="trace" additivity="false">
        <appender-ref ref="HIGHLIGHT"/>
    </logger>
    
    <logger name="org.springframework" level="error"/>
    <logger name="org.springframework.shell" level="error"/>

    <root level="error">
        <appender-ref ref="NORMAL"/>
    </root>
</configuration>