<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    </head>
    <body>
        <h1 style="text-align:center">Hazelcast Movie Recommender</h1>
        <div class="container">
        <form action="/movies" method="post">
            <div class="form-group">
                <label class="form-label" for="movie-input">Enter a Movie You Like</label>
                <input type="text" name="movie-input" id="movie-input" placeholder="Toy Story">
            </div>
            <input type="submit">
        </form>
        </div>
        <div class="container">
            {% for recommendation in recommendations %}
            {% if loop.index is odd %}
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                          <div class="card-title h5">{{recommendation.title}}</div>
                        </div>
                        <div class="card-image">
                            <img src="{{ recommendation.image_url }}" class="img-responsive">
                        </div>
                    </div>                    
                </div>
                {% if loop.nextitem is defined %}
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                          <div class="card-title h5">{{ loop.nextitem.title }}</div>
                        </div>
                        <div class="card-image">
                            <img src="{{ loop.nextitem.image_url }}" class="img-responsive">
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </body>
</html>