footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1rem;
  /* floating footer
  position: fixed;
  bottom: 0;
  */
  width: 100%;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
}

.footer img {
  width: 5cm;
}

.footer > a.slack-button {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 10px;
  padding: 0.5em 1em 0.5em 3.5em;
  background-color: #fff;
  border-top: 2px solid #0b2a35;
  border-right: 2px solid #0b2a35;
  border-left: 2px solid #0b2a35;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #041a3b;
  transition: all 0.2s ease-in;
}

.footer > a.slack-button::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/slack-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.footer > a.slack-button:hover {
  color: #fff;
  background-color: #0d252e;
}
